/****************Some global attributes****************/
a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #ffecdc
}

/************************Header************************/
#index-header {
    background-color: #ffb87c;
}
#index-header a {
    color: #a45e00;
    font-family: 'Coming Soon', cursive;
    font-size: 1.2em;
}

/*Top-Right corner*/
#reg-log {
    background-color: #ffa052;
    text-align: right;
}
#reg-log a, #greeting {
    color: #a45e00;
    font-family: 'Coming Soon', cursive;
    font-size: 0.8em;
}
#reg-log a {
    display: inline-block;
    margin: 0.2em 1em 0.2em 1em;
}
#greeting {
    display: inline-block;
    margin: 0.2em 1em 0.2em 1em;
}

/*navigations*/
#index-header ul {
    text-align: center;
    margin-top: -5em;
}
#index-header li {
    display: inline-block;
    margin: 0 1em;
}


/*logo*/
#toplogo {
    position: relative;
    top: 3em;
}

/************************Section************************/
section {
    margin: 1em 1em;
}
/************************Footer************************/
footer {
    margin: 1em 1em;
}
