/****************Some global attributes****************/
a {
    text-decoration: none;
}

a:hover {
	cursor: pointer;
}

body {
    margin: 0;
    background-color: #ffecdc
}

/************************Header************************/
#index-header {
    background-color: #ffb87c;
}
#index-header a {
    color: #a45e00;
    font-family: 'Coming Soon', cursive;
    font-size: 1.2em;
}

/*Top-Right corner*/
#reg-log {
    background-color: #ffa052;
    text-align: right;
}
#reg-log a, #greeting {
    color: #a45e00;
    font-family: 'Coming Soon', cursive;
    font-size: 0.8em;
}
#reg-log a {
    display: inline-block;
    margin: 0.2em 1em 0.2em 1em;
}
#greeting {
    display: inline-block;
    margin: 0.2em 1em 0.2em 1em;
}

/*navigations*/
#index-header ul {
    text-align: center;
    margin-top: -5em;
}
#index-header li {
    display: inline-block;
    margin: 0 1em;
}


/*logo*/
#toplogo {
    position: relative;
    top: 3em;
}

/************************Section************************/
section {
    margin: 1em 1em;
}

/*form*/
.body-title-font {
	font-family: 'Coming Soon', cursive;
}
div.body-title-font input {
	margin-bottom: 0.5em;
	padding: 0.3em 0;
	width: 18em;
	background-color: #ffe3ac;
	border: 0;
}
input.type-in {
	text-indent: 0.5em;
}
h3.body-title-font {
	position: relative;
	left: 3.5em;
}
div.body-title-font {
	width: 16em;
	margin: auto;
}
#submit-form {
	width: 18em;
	padding: 0.3em 0;
	background-color: #ffb95b;
	border: 0;
	color: #fff;
}
#submit-form:hover {
	background-color: #ffa052;
	cursor: pointer;
}

/************************Footer************************/
footer {
    margin: 1em 1em;
}
